<div class="table-responsive">
    <table class="table no-margin">
        <thead>
            <th>Order Group</th>
            <th>ID</th>
            <th>Placed</th>
            <th>Updated</th>
            <th>Total</th>
            <th>Payment Status</th>
            <th>Status</th>
            <th>Info</th>
        </thead>
        {% for order in orders %}
            <tr>
                <td>{{ order.order_group }}</td>
                <td>{{ order.id }}</td>
                <td><a href="{% url "admin-order-view" pk=order.id %}">{{ order.order_group.placed }}</a></td>
                <td>{{ order.updated_at }}</td>
                <td>{{ order.calculate_price }}</td>
                <td>{{ order.get_payment_status }}</td>
                <td>{{ order.get_status }}</td>
                <td>{{ order.info }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
