{% extends 'admin/dashboard.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="text-primary">Order Detail</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-head style-primary">
                <header>Products</header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th>Name</th>
                            <th>Unit Price</th>
                            <th>Art</th>
                            <th>Support</th>
                            <th>Support Vendor Cost</th>
                            <th>Colour</th>
                            <th>Size</th>
                            <th>Quantity</th>
                        </thead>
                            {% for product in object.get_orderdetails %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>{{ product.unit_price }}</td>
                                <td><a href="/media/{{ product.art.big_image }}">{{ product.art }}</a></td>
                                <td>{{ product.support.name }}</td>
                                <td>{{ product.support.vendor_price }}</td>
                                <td>{{ product.colour }}</td>
                                <td>{{ product.size }}</td>
                                <td>{{ product.qty }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-head style-primary">
                <header>General Info</header>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>Order Group</dt>
                    <dt>{{ object.order_group }}</dt>
                    <dt>ID</dt>
                    <dd>{{ object.id }}</dd>
                    <dt>Placed on</dt>
                    <dd>{{ object.placed }}</dd>
                    <dt>Last Updated</dt>
                    <dd>{{ object.updated_at }}</dd>
                    <dt>Payment Status</dt>
                    <dd>{{ object.get_payment_status }}</dd>
                    <dt>Customer</dt>
                    <dd>{{ object.customer }}</dd>
                    <dt>Amount</dt>
                    <dd>{{ object.calculate_price }}</dd>
                    <hr>
                    <form action="{% url "admin-order-update" pk=order.id %}" class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="order-section" value="order-info">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="order-status">Status</label>
                            <div class="col-md-10">
                                <select name="order-status" id="order-status" class="form-control">
                                    {% for status in orders_statuses %}
                                    <option value="{{ status.id }}" {% if status.id == order.status.id %}selected="selected"{% endif %}>{{ status.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="order-info">Info</label>
                            <div class="col-md-10">
                              <textarea id="order-info" name="order-info" class="form-control">{{ object.info }}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-flat btn-primary ink-reaction pull-right">Submit Change</button>
                    </form>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-head style-primary">
                <header>Shipping</header>
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd>{{ object.shippingdetails_set.get.type }}</dd>
                    <dt>Cost</dt>
                    <dd>{{ object.shippingdetails_set.get.cost }}</dd>
                </dl>
                </div>
                <div class="col-md-8">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{ object.shippingdetails_set.get.contact.name }}</dd>
                        <dt>Country</dt>
                        <dd>{{ object.shippingdetails_set.get.contact.country }}</dd>
                        <dt>State</dt>
                        <dd>{{ object.shippingdetails_set.get.contact.state }}</dd>
                        <dt>City</dt>
                        <dd>{{ object.shippingdetails_set.get.contact.city }}</dd>
                        <dt>Address</dt>
                        <dd>{{ object.shippingdetails_set.get.contact.address }}</dd>
                        <dt>ZIP</dt>
                        <dd>{{ object.shippingdetails_set.get.contact.zip }}</dd>
                        <dt>Phone</dt>
                        <dd>{{ object.shippingdetails_set.get.contact.phone }}</dd>
                    </dl>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <hr>
                    <form action="{% url "admin-order-update" pk=order.id %}" class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="order-section" value="order-shipping">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="shipping-status">Status</label>
                            <div class="col-md-10">
                              <textarea id="shipping-status" name="shipping-status" class="form-control">{{ object.shippingdetails_set.get.status }}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-flat btn-primary ink-reaction pull-right">Submit Change</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <form action="{% url "admin-order-process" pk=order.id %}" class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" name="action" value="to_vendor" class="btn btn-info ink-reaction pull-right">To Vendor</button>
            <button type="submit" name="action" value="close" class="btn btn-info ink-reaction pull-right">Close Order</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger ink-reaction pull-right">Delete</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}
