{% block menubar %}

<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="{% url 'admin-dashboard' %}">
                <span class="text-lg text-bold text-primary ">Tshirt Meme</span>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">

        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">

            <!-- BEGIN DASHBOARD -->
            <li>
                <a href="{% url 'admin-dashboard' %}" class="active">
                    <div class="gui-icon"><i class="md md-home"></i></div>
                    <span class="title">Dashboard</span>
                </a>
            </li><!--end /menu-li -->

            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-people"></i></div>
                    <span class="title">Users</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'admin-users' %}" class="active">
                            <span class="title">List</span>
                        </a>
                    </li>
                   <li>
                        <a href="{% url 'create-user' %}" class="active">
                            <span class="title">Add</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-attach-money"></i></div>
                    <span class="title">Orders</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'admin-orders' %}" class="active">
                            <span class="title">List Active</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin-orders-closed' %}" class="active">
                            <span class="title">List Closed</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'order-statuses' %}" class="active">
                            <span class="title">Order Statuses</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-store"></i></div>
                    <span class="title">Vendors</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'admin-vendors' %}" class="active">
                            <span class="title">List</span>
                        </a>
                    </li>
                   <li>
                        <a href="{% url 'create-vendor' %}" class="active">
                            <span class="title">Add</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-print"></i></div>
                    <span class="title">Supports</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'admin-supports' %}" class="active">
                            <span class="title">List</span>
                        </a>
                    </li>
{#                   <li>#}
{#                        <a href="{% url 'create-support' %}" class="active">#}
{#                            <span class="title">Add</span>#}
{#                        </a>#}
{#                    </li>#}
                </ul>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-brush"></i></div>
                    <span class="title">Artists</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'admin-artists' %}" class="active">
                            <span class="title">List</span>
                        </a>
                    </li>
                   <li>
                        <a href="{% url 'create-artist' %}" class="active">
                            <span class="title">Add</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-collections"></i></div>
                    <span class="title">Art</span>
                </a>
                <ul>
                    <li>
                        <a href="{% url 'admin-art' %}" class="active">
                            <span class="title">List</span>
                        </a>
                    </li>
                   <li>
                        <a href="{% url 'create-art' %}" class="active">
                            <span class="title">Add</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END DASHBOARD -->


        </ul><!--end .main-menu -->
        <!-- END MAIN MENU -->

        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
            </small>
        </div>
    </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->

{% endblock menubar %}
