{% extends 'admin/dashboard.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="text-primary">Users</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th>Name</th>
                        </thead>
                        {% for artist in object_list %}
                            <tr>
                                <td><a href="{% url 'update-artist' pk=artist.id %}">{{ artist.name }}</a></td>
                                <td>
                                    <form action="{% url "delete-artist" pk=artist.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-flat btn-primary ink-reaction"><i class="md md-delete"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
