   <body>
      <table width="100%" cellpadding="0" cellspacing="0" style="background:#ffffff" bgcolor="#FFFFFF">
         <tbody>
            <tr>
               <td align="center">
                  <br><br>
                  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                     <tbody>
                        <tr>
                           <td align="center" style="width:100%">
                              <div style="max-width:700px;min-width:320px;margin:0 auto">
                                 <table align="center" width="100%" class="m_4506392813453690003container" cellspacing="0" cellpadding="0" border="0" style="max-width:700px;border-collapse:collapse;margin:0 auto">
{#                                    <tbody>#}
{#                                       <tr>#}
{#                                          <td width="100%" align="center" style="padding:1em 0 1em;max-width:700px;border:#dbdbdb solid 1px;border-bottom:none">#}
{#                                             <a href=""><img border="0" width="200" src="https://ci4.googleusercontent.com/proxy/jWDgNVUneBkBipDvu_KHaLQ6odZHSDo6mYs7fFUSuGKgCd-KvHWgj_YgmRHaaqpecC3pO94-gluO-FRCrR3b5Cr_gLXNl9ipAUrs_1UGsjogOA=s0-d-e1-ft#http://s1.emagst.net/layout/ro/images/email/general/eMAG.png" alt="eMAG" class="CToWUd"></a>#}
{#                                          </td>#}
{#                                       </tr>#}
{#                                    </tbody>#}
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>

                  <div style="max-width:700px;min-width:320px;margin:0 auto">
                     <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;max-width:700px;min-width:320px">
                        <tbody>
                           <tr>
                              <td style="width:100%">
                                 <table align="center" width="100%" class="m_4506392813453690003container" cellspacing="0" cellpadding="0" border="0" style="max-width:700px;min-width:320px;border-collapse:collapse;margin:0 auto;background:#ffffff">
                                    <tbody>
                                       <tr>
                                          <td style="padding:15px;border:#dbdbdb solid 1px;border-top:none;background:#ffffff;border-collapse:collapse" bgcolor="#FFFFFF">
                                             {% block content %}{% endblock %}
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
