{% extends 'main.html' %}

{% block content %}
    <div class="breadcumb_area section_padding_50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-inline-block">
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item"><a href="#">Terms and conditions</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="about_us_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about_us_content text-center">
                        <h5>Terms and conditions</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quibusdam saepe alias dignissimos consequatur ullam expedita voluptas commodi veritatis repellendus nostrum, tempore, ducimus architecto iure optio delectus impedit neque vitae nesciunt beatae! Repudiandae explicabo ut illum qui sint ipsam possimus recusandae nisi cupiditate natus eum voluptas ducimus, libero vitae? Totam?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
