<div class="checkout_summary_area mt-50 clearfix">
    <h5>Order summary <a class="edit_cart" href="{% url 'cart-inspect' %}">Edit Cart</a></h5>
    <div class="cart-table clearfix">
    {% for vendor,group in cart.items %}
        <table class="table table-responsive">
        <tbody>
            {% for item in group.items %}
            <tr id="item_{{ item.id }}">
                <td class="cart_product_img">
                    <a href="#"><img class="img img-thumbnail" src="{{ item.get_thumb_small }}" alt="Product"></a>
                </td>
                <td class="cart_product_desc">
                    <p class="art_name">{{ item.product.name }}</p>
                    <p class="support_name">{{ item.stock.support }} ({{ item.stock }})</p>
                </td>
                <td class="price"><span>{{ item.quantity|floatformat:"0" }}x </span><span>$</span><span class="number">{{ item.unit_price }}</span></td>
            </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr class="shipping">
                <td colspan="2">Shipping</td>
                <td>$<span class="number">{{ group.shipping.price }}</span></td>
            </tr>
        </tfoot>
    </table>
    {% endfor %}
    <table>
        <tbody>
            <tr class="total">
                <td colspan="2"><strong>Total</strong></td>
                <td colspan="1"><strong>$<span class="number">{{ cart_total }}</span></strong></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
