{% extends 'order/email/main.html' %}
{% block content %}
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
    <tbody>
    <tr>
        <td valign="top" align="left"
            style="font-family:sans-serif,Helvetica,Arial;font-size:15px;line-height:18px;padding:0 0 1em;text-align:left">
            Hello,
        </td>
    </tr>
    <tr>
        <td align="left"
            style="font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0 0 15px">
            Your order has been registered and will soon be processed by our staff. You can check its status at this link:
            <a href="{{ order_group_detail_url }}">Order Details #{{ order_group.hash }}</a>
        </td>
    </tr>
    <tr>
        <td align="left">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                <tbody>
                <tr>
                    <td colspan="2" align="center">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                            <tr>
                                <td align="center"
                                    style="color:#000000;padding:20px 2% 10px 2%;border-bottom:2px solid #01aff6;line-height:150%;font-size:15px;font-weight:bold;font-family:sans-serif,Helvetica,Arial">
                                    Shipping
                                    <br>
                                    <font style="color:#a3a3a3;font-size:13px">
                                        order no #{{ order_group.id }}, placed on {{ order_group.placed }}
                                    </font>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-top:1px solid #dbdbdb;font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0"
                        width="30%" valign="top" align="left">
                        Contact Person:
                    </td>
                    <td style="border-top:1px solid #dbdbdb;font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0"
                        width="70%" valign="top" align="left">
                        <b>{{ contact.name }} </b> <br>
                        <b>0727744836</b>
                    </td>
                </tr>
                <tr>
                    <td style="border-top:1px solid #dbdbdb;font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0"
                        width="30%" valign="top" align="left">
                        To be delivered to:
                    </td>
                    <td style="border-top:1px solid #dbdbdb;font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0"
                        width="70%" valign="top" align="left">
                        {{ contact.address }}
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="min-width:300px;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0"
                   border="0">
                <tbody>
                <tr>
                    <td width="30%">&nbsp;</td>
                    <td width="40%" style="line-height:20px;height:20px;font-size:20px">&nbsp;</td>
                    <td width="30%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="30%">&nbsp;</td>
                    <td width="40%" style="border-top:2px solid #01aff6;line-height:20px;height:20px;font-size:20px">
                        &nbsp;
                    </td>
                    <td width="30%">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                   style="border-collapse:collapse;min-width:300px">
                <tbody>
                <tr>
                    <td colspan="3"
                        style="font-family:sans-serif,Helvetica,Arial;font-size:15px;line-height:18px;padding:0px 0 5px 0px"
                        valign="top" align="left">
                    </td>
                </tr>
                <tr>
                    <td colspan="3"
                        style="border:none;font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:15px;padding:0"
                        valign="top" align="left">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size:10px;line-height:10px;height:10px">
                        &nbsp;
                    </td>
                </tr>
                {% for order in order_group.order_set.all %}
                    {% include 'order/email/order_placed/order_items_shippdetails.html' with order=order %}
                {% endfor %}
                <tr>
                    <td colspan="3" valign="middle"
                        style="font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px" align="right">
                        <div style="min-width:268px;max-width:320px;display:inline-block;vertical-align:middle;text-align:right">
                            <table style="border-collapse:collapse;border-spacing:0" width="100%" cellspacing="0"
                                   cellpadding="0" align="right">
                                <tbody>
                                <tr>
                                    <td style="font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0;border-top:1px dotted #dbdbdb"
                                        width="50%" valign="middle" align="right">
                                        Total:
                                    </td>
                                    <td style="font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0;border-top:1px dotted #dbdbdb"
                                        width="50%" valign="middle" align="right">
                                        <strong>{{ order_group.calculate_total }}</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="min-width:300px;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0"
                   border="0">
                <tbody>
                <tr>
                    <td width="30%">&nbsp;</td>
                    <td width="40%" style="line-height:20px;height:20px;font-size:20px">&nbsp;</td>
                    <td width="30%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="30%">&nbsp;</td>
                    <td width="40%" style="border-top:2px solid #01aff6;line-height:20px;height:20px;font-size:20px">
                        &nbsp;
                    </td>
                    <td width="30%">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                <tbody>
                <tr>
                    <td align="left" valign="top"
                        style="border-top:1px solid #ffffff;font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0"
                        width="30%">
                        Invoice {{ invoice_no }}
                    </td>
                    <td align="left"
                        style="border-top:1px solid #ffffff;font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0.5em 0"
                        width="70%">
                        <br><font style="color:#a3a3a3"></font>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" style="font-family:sans-serif,Helvetica,Arial;font-size:14px;line-height:18px;padding:0">
        </td>
    </tr>
    <tr>
        <td align="left"
            style="color:#a3a3a3;font-family:sans-serif,Arial,Helvetica;font-size:14px;padding:10px 0;line-height:110%">
            Best wishes!
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
