{% block slider %}
{% load static %}

<section class="welcome_area home-2">
        <div class="welcome_slides">
            <!-- Single Slide Start -->
            <div class="single_slide home-3 height-800" style="background-image: url({% static 'img/bg-img/slide-9.jpg' %});">
                <div class="table">
                    <div class="table_cell">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="welcome_slide_text text-right">
                                        <p>hot fashion</p>
                                        <h2>Summer Collection</h2>
                                        <a href="#" class="btn buy-now">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide Start -->
            <div class="single_slide home-3 height-800" style="background-image: url({% static 'img/bg-img/slide-7.jpg' %});">
                <div class="table">
                    <div class="table_cell">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="welcome_slide_text text-center">
                                        <p>Latest Trends</p>
                                        <h2>New Style 2017</h2>
                                        <a href="#" class="btn buy-now">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide Start -->
            <div class="single_slide home-3 height-800" style="background-image: url({% static 'img/bg-img/slide-8.jpg' %});">
                <div class="table">
                    <div class="table_cell">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="welcome_slide_text">
                                        <p>50% OFF</p>
                                        <h2>leggings-maxi</h2>
                                        <a href="#" class="btn buy-now">Check Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock slider %}
