{% extends "admin/dashboard_template/main.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="col-md-12 form-group">
    <div class="row">
        <form action=""  enctype="multipart/form-data" method="POST">
        <div class="col-md-4">
        <div class="card">
            <div class="card-head style-primary">
                <header>Support</header>
            </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ stock_forms.management_form }}

                    <div class="form-group floating-label {% if form.slug.errors %}has-error{% endif %}">
                        <label for="{{ form.slug.id_for_label }}">{{ form.slug.label }}</label>
                        {{ form.slug | add_class:'form-control' }}
                        {{ form.slug.errors }}
                    </div>
                    <div class="form-group floating-label {% if form.name.errors %}has-error{% endif %}">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name | add_class:'form-control' }}
                        {{ form.name.errors }}
                    </div>
                    <div class="form-group floating-label {% if form.externalId.errors %}has-error{% endif %}">
                        <label for="{{ form.externalId.id_for_label }}">{{ form.externalId.label }}</label>
                        {{ form.externalId | add_class:'form-control' }}
                        {{ form.externalId.errors }}
                    </div>
                    <div class="form-group floating-label {% if form.vendor_price.errors %}has-error{% endif %}">
                        <label for="{{ form.vendor_price.id_for_label }}">{{ form.vendor_price.label }}</label>
                        {{ form.vendor_price | add_class:'form-control' }}
                        {{ form.vendor_price.errors }}
                    </div>
                    <div class="form-group floating-label {% if form.unit_price.errors %}has-error{% endif %}">
                        <label for="{{ form.unit_price.id_for_label }}">{{ form.unit_price.label }}</label>
                        {{ form.unit_price | add_class:'form-control' }}
                        {{ form.unit_price.errors }}
                    </div>
                    <div class="form-group floating-label {% if form.description.errors %}has-error{% endif %}">
                        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                        {% render_field form.description class="form-control" rows=6 %}
                        {{ form.description.errors }}
                    </div>
                </div>
                {{ form.non_field_errors }}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <input type="hidden" name="vendor" value="{{ vendor_id }}">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-head style-primary">
                    <header>Stock Options</header>
                </div>
                <div class="card-body">
                    {% if action == 'Create' %}
                        {% include "admin/support/stock_tabular_create.html" %}
                    {% else %}
                        {% include "admin/support/stock_tabular_update.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if object %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-head style-primary"><header>Images for art placement</header></div>
                <div class="card-body" id="images_form">
                {{ images_form.management_form }}
                {% for form in images_form %}
                    {% include 'admin/support/__support_image.html' with form=form %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
        <div class="card-actionbar-row">
            <button type="submit" class="btn btn-primary ink-reaction">{{ action }}</button>
        </div>
    </form>
</div>

{% include 'admin/support/__mockup_image_modal.html' %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/konva.min.js' %}"></script>
    <script src="{% static 'admin/js/support_form.js' %}"></script>
{% endblock %}
