{% extends 'main.html' %}
{% load static %}

{% block content %}
    {% block breadcrumos %}
        {% include "order/breadcrumbs.html" %}
    {% endblock breadcrumos %}


    <div class="checkout_area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="order_complated_area clearfix">
                        <h5>Thank You For Your Order.</h5>
                        <p>You will receive an email of your order details</p>
                        <p class="orderid">Your Order id #{{ order_id }}</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="checkout_pagination mt-50">
                        <a href="{%  url "index" %}">Go Back Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block custom_javascript %}
    <script src="{% static 'js/order_checkout.js' %}"></script>
{% endblock custom_javascript %}

