{% extends 'main.html' %}
{% load static %}

{% block content %}
    {% block breadcrumos %}
        {% include "order/breadcrumbs.html" %}
    {% endblock breadcrumos %}


    <div class="checkout_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="payment_method">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h5 class="panel-title">Pay with PayPal</h5>
                        </div>
                        <div class="panel-body">
                            <div class="pay_with_paypal">
                                <div class="row">
                                    {{ form.render }}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block custom_javascript %}
    <script src="{% static 'js/order_checkout.js' %}"></script>
{% endblock custom_javascript %}

