{% block footer %}
{% load static %}
<footer class="footer_area section_padding_100">
    <div class="container">
        <div class="row">

            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>About us</h6>
                    </div>
                    <div class="footer_content">
                        <p>MEMEASHIRT is international fashion &amp; accessories online shop. We provide 100% quality products for your needs.</p>
                    </div>
                </div>
            </div>

            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Support</h6>
                    </div>
                    <ul class="footer_widget_menu">
                        <li><a href="{% url "pages" "help" %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Help</a></li>
                        <li><a href="{% url "pages" "product_support" %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Product Support</a></li>
                        <li><a href="{% url "pages" "terms" %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms &amp; Conditions</a></li>
                        <li><a href="{% url "pages" "privacy_policy" %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}
