{% block header %}
<header class="header_area">
    <!-- Top Header Area Start -->
    <div class="top_header_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <div class="top_single_area">
                        <!-- Top Mail Area Start -->
                        <div class="top_mail d-inline-block">
                            <a class="align-middle" href="mailto:support@bigshop.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> support@bigshop.com</a>
                        </div>
                        <!-- Top Social Area Start -->
                        <div class="top_social d-inline-block ml15">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="top_single_area text-right">
                        <!-- Login Area Start -->
                        <div class="login_area d-inline-block">
                            <p><a href="login.html" target="_blank"><i class="fa fa-lock" aria-hidden="true"></i> Login</a> or <a href="register.html" target="_blank"><i class="fa fa-user" aria-hidden="true"></i> Create an account</a></p>
                        </div>
                        <!-- Get Support -->
                        <div class="get_help d-inline-block">
                            <a href="faq.html" target="_blank"><i class="fa fa-life-ring" aria-hidden="true"></i> Get Help</a>
                        </div>
                        <!-- Language Area Start -->
                        <div class="language_area d-inline-block">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="lang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">$USD</button>
                                <div class="dropdown-menu" aria-labelledby="lang">
                                    <a class="dropdown-item" href="#">$AUD</a>
                                    <a class="dropdown-item" href="#">€EUR</a>
                                    <a class="dropdown-item" href="#">$CSD</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Header Area End -->
    <div class="main_header_area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-6 col-md-3">
                    <div class="logo_area">
                        <a href="index.html">BIGSHOP</a>
                    </div>
                </div>
                <!-- Search Area Start -->
                <div class="col-12 col-md-6">
                    <div class="hero_search_area">
                        <form action="#" method="get">
                            <div class="form-group">
                                <input type="search" class="form-control" id="search" aria-describedby="search" placeholder="Search for Products, Brands or Catagory">
                            </div>
                            <button type="submit" class="btn"><i class="pe-7s-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainmenu_area">
        <div class="container">
            <nav id="navigation1" class="navigation">
                <!-- Logo Area Start -->
                <div class="nav-header">
                    <div class="nav-toggle"></div>
                </div>
                <!-- Nav Text Area Start -->
                <span class="nav-text align-to-right">24/7 CUSTOMER SERVICE: +111 222 44</span>
                <!-- Main Menus Wrapper -->

            </nav>
        </div>
    </div>
</header>
{% endblock header %}
