{% block header %}
<header class="header_area">

    <!-- Top Header Area End -->
    <div class="main_header_area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-6 col-md-3">
                    <div class="logo_area">
                        <a href="{% url 'index' %}">MEMEASHIRT</a>
                    </div>
                </div>
                <!-- Search Area Start -->
                <div class="col-12 col-md-6">
{#                    <div class="hero_search_area">#}
{#                        <form action="#" method="get">#}
{#                            <div class="form-group">#}
{#                                <input type="search" class="form-control" id="search" aria-describedby="search" placeholder="Search for Products, Brands or Catagory">#}
{#                            </div>#}
{#                            <button type="submit" class="btn"><i class="pe-7s-search"></i></button>#}
{#                        </form>#}
{#                    </div>#}
                </div>

                 <!-- Hero Meta Area Start -->
                <div class="col-6 col-md-3 xs-hero-meta">
                    <div class="hero_meta_area d-flex text-right">
                        <!-- Cart Area -->
                        <div class="cart">
                            <!-- Cart List Area Start -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
{% endblock header %}
