<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Bigshop | Responsive Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="shortcut icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href={% static "css/core-style.css" %}>
    <link rel="stylesheet" href={% static "style.css" %}>

    <!-- Responsive CSS -->
    <link href={% static "css/responsive.css" %} rel="stylesheet">
    {% block custom_css %}{% endblock custom_css %}
</head>

<body>
{% block header %}
        {% include 'header.html' %}
{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
<div class="hidden" id="spinner-holder">
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
</div>
<script type="text/template" id="alert-template">
    <div class="alert alert-dismissible fade">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span class="text">{alert_text}</span>
    </div>
</script>
<script type="text/template" id="top_cart">
<a href="{% url 'cart-inspect' %}" title="Cart"><i class="pe-7s-cart"></i><span class="cart_quantity">{total_qty}</span></a>
<ul class="cart-list animated fadeInUp">
    {!products}
    <li class="total">
        <span class="pull-right">Total: ${total}</span>
        <a href="{% url 'cart-inspect' %}" class="btn btn-sm btn-cart">Cart</a>
        <a href="{% url 'checkout' %}" class="btn btn-sm btn-checkout">Checkout</a>
    </li>
</ul>
</script>
<script type="text/template" id="top_cart_product">
    <li>
        <a href="{!url}" class="image"><img src="{!photo}" class="cart-thumb img img-thumbnail" alt=""></a>
        <div class="cart-item-desc">
            <h6><a href="{!url}">{!name}</a></h6>
            <p>{support}</p>
            <p>{!qty}x - <span class="price">${!price}</span></p>
        </div>
        <span class="dropdown-product-remove"><a href="#" data-id="{id}"><i class="fa fa-times fa-lx"></i></a></span>
    </li>
</script>
{% block javascript %}
    <!-- ============= jQuery (Necessary for All JavaScript Plugins) ============= -->
    <script src={% static "js/jquery/jquery-2.2.4.min.js" %}></script>
    <!-- Popper js -->
    <script src={% static "js/popper.min.js" %}></script>
    <!-- Bootstrap js -->
    <script src={% static "js/bootstrap.min.js" %}></script>
    <!-- Plugins js -->
    <script src={% static "js/plugins.js" %}></script>
    <!-- Active js -->
    <script src={% static "js/active.js" %}></script>
    <script src="{% static 'jquery.templates/jquery.templates.js' %}"></script>
    <script src={% static "js/utils.js" %}></script>
    <script src={% static "js/each_page.js" %}></script>

    <!-- Active js -->
{% endblock javascript %}
{% block custom_javascript %}{% endblock custom_javascript %}

</body>

</html>
